@charset "utf-8";
/* CSS Document */

*{

    box-shadow: 0px 0px 0px 1px red;

}

body, ul, li, p, header, a, nav{
    
    margin: 0;
    padding: 0; 
    list-style: none;
    font-family: monospace;

}

a{
     
    text-decoration: none;
    color: white;

}

nav{

    padding: 30px;
    background: #7E4A39;

}

nav section{
    
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}

nav ul#list li{
    
    margin-right: 60px;
    font-size: 25px;
    margin-bottom: 20px;
    
}

nav header a img{

    width: 160px;
    height: 160px;

}

nav section a img#abre{

    width: 80px;
    height: 80px;

}


aside section{

    text-align: right;
    max-width: 100%;
    background-color: #7E4A39;
    top: 0px;

}

aside section img{

    width: 50px;
    height: 50px;

}

aside section ul{

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 556px;

}


aside section ul li a{
    
    font-size: 20px;
    color: black;
    
}

aside section ul li ul{

    margin-right: 15px;  
    
}

article section {

    display: flex;
    width: 100%;

}

h3{ 

    background-color: #C6AE5B;
    margin: 0 auto;
    height: 60px;
    font-size: 25px;
    text-align: center;

}

section article{

    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    height: 300px;

}

footer{

    display: flex;
    background-color: #7E4A39;
    padding: 30px;
    justify-content: space-between;
    max-width: 100%;

}

footer{

    display: flex;
    background-color: #7E4A39;
    padding: 30px;
    justify-content: space-between;
    max-width: 100%;

}

footer section{

    max-width: 100%;

}

footer section a{

    margin-right: 5px;
    font-size: 20px;

}

footer section a img.conta{

    margin-left: 20px;
    width: 50px;
    height: 50px;   

}

#menu{

    position: fixed;
    top: 0px;
    right: 0px;
    width: 0px;

}

.prod{

    margin-bottom: 20px;

}

.foot{
    
    text-align: left;
    margin-left: 10px;

}

#jj{

    width: 150px;
    height: 150px;

}

.linha{

    height: 300px;
    display: flex;
    min-width: 400px;
    flex-direction: row;
    width: 100%;
    align-content:space-between;
    
}
.linha section{

    width: 100%;
    display: flex;
    flex-direction: column;
}

.linha img{

    width: 100%;

}


@media (max-width: 670px){

    header{

        padding: 50px;

    }

    nav ul{

        float: right;

    }

    li{

        background-color: #c0c0c0;

    }

    section ul{

        height: 185px;

    }

    #log{

        font-size: 30px;

    }

}